.stickers-overlay {
  position: absolute;
  inset: 0;

  &-sticker {
    position: absolute;
  }

  &-text-sticker {
    position: absolute;
    padding: 4px 10px;
    border-radius: 10px;
    box-sizing: border-box;

    &.selected {
      outline: 2px dashed rgba(255, 255, 255, 0.8);
      outline-offset: 4px;
    }
  }
}
